@import "/css/bootstrap.css";

* {
    margin:  0;
    padding: 0;
  }
h1{
    font-weight: bold;
}
#formGroupNameInput, #formGroupApellidoInput, #exampleInputEmail1, #formGroupPhoneInput{
    background-color: var(--verde-4s-background);
}
body > section.container-fluid.panama-is-more > div > figure > img.col.figure-img.img-fluid.rounded{
    max-height: 705px !important;
}
body > section.container-fluid.panama-is-more > div > figure.col-8.figure.float-right{
    padding-right: 0px;
}

body > section.container-fluid.panama-is-more{
    padding-right: 0px;
}
body > section.container-fluid.panama-is-more > div > div.col-4{
    margin-top: auto;
    margin-bottom: auto;
}
@media (max-width: 600px) {
    body > section.container-fluid.panama-is-more > div > figure.col-8.figure.float-right{
        display: none;
    }
  }
.panama-is-more-text{
    font-size: 18px;
}
button:focus{
    outline: 5px auto var(--verde-4s);
}
.triangulo-verde:hover{
    color: white;
    /* border: 1px solid black; */
}
.contacto-mail{
    color: black;
    text-decoration: none !important;
}
.contacto-mail:hover{
    color: white;
    /* text-decoration: none !important; */
}
.contacto-mail:visited{
    color: gray;
    /* text-decoration: none !important; */
}
.triangulo-verde-footer{
    color: var(--verde-4s);
}

a.nav-link{
    color: #495057;
}
span.modelo{
    color: var(--verde-4s);
    font-weight: bolder;
    font-size: xx-large;
}
.nav-item{
    margin-bottom: -1px;
    margin-left: 7rem !important;
    /* margin-right: 3rem !important; */
    margin-top: 1rem;
}
a.nav-link.active{
    background-image: url("../assets/more-triangulo-modelos.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    background-repeat: no-repeat;
    border-color: white;
}
.nav-link.active{
    border: 0px solid transparent;
}
.nav-link:focus{
    border-color: white white white !important;
}

#carouselExampleIndicators > a.carousel-control-prev > span.carousel-control-prev-icon{
    display: none;
}
.figure-img{
    margin-bottom: 0px;
}

@media (max-width: 576px) {
    .panama-is-more-img {
        display: none;
    }
    .panama-is-more{
        padding-left: 3rem !important;
    }
}
@media (min-width: 1024px) and (max-width: 1200px){
    body > div:nth-child(1) > div > div.col-lg-5.col-md-12.mt-5.mb-5.panama-is-more > div:nth-child(2) > h1{
        font-size: xx-large !important;
    }
    .panama-is-more-text {
        font-size: small;
    }
    body > div:nth-child(2) > div > div.col-lg-5 > h1{
        font-size: xx-large !important;
    }
    body > div:nth-child(2) > div > div.col-lg-5 > p{
        margin-top: 12rem !important;
    }
    body > div:nth-child(2) > div > div.col-lg-5{
        margin-top: 5% !important;
    }
    body > div:nth-child(5) > div > div.col-lg-3{
        margin-left: 45rem !important;
        margin-top: 10rem !important;
    }
    body > div.container > div > div > ul > li:nth-child(1){
        margin-left: 4rem !important;
    }
    body > div.container > div > div > ul > li:nth-child(2){
        margin-left: 4rem !important;
    }
    body > div.container > div > div > ul > li:nth-child(3){
        margin-left: 4rem !important;
    }
    body > div.container > div > div > ul > li:nth-child(4){
        margin-left: 4rem !important;
    }
    body > div.container > div > div > ul > li:nth-child(5){
        margin-left: 4rem !important;
    }

}